<nav id="cabecalho">
    <div id="cabecalho_Conteudo">
        <div id="cabecalho_Conteudo_Logo">
            <a id="cabecalho_Conteudo_Logo_Link" asp-controller="inicio" asp-action="inicio">
                <img src="~/img/Geral/logo_oficial_nome.svg" id="cabecalho_Conteudo_Logo_Link_Img" alt="">
            </a>
        </div>
        <ul id="cabecalho_Conteudo_Menu">
            <li class="cabecalho_Conteudo_Menu_Option">
                <a asp-controller="inicio" asp-action="inicio" class="cabecalho_Conteudo_Menu_Option_Link"> Início </a>
            </li>
            <li class="cabecalho_Conteudo_Menu_Option">
                <a asp-controller="inicio" asp-action="sobre" class="cabecalho_Conteudo_Menu_Option_Link"> Sobre </a>
            </li>
            </li>
            <li class="cabecalho_Conteudo_Menu_Option">
                <a asp-controller="inicio" asp-action="login" class="cabecalho_Conteudo_Menu_Option_Link"> Entrar </a>
            </li>
            <li class="cabecalho_Conteudo_Menu_Option">
                <a asp-controller="inicio" asp-action="cadastro" class="cabecalho_Conteudo_Menu_Option_Link"> Cadastre-se </a>
            </li>
        </ul>
    </div>
</nav>