<div id="rodapeGuiaDiv">
    <section class="rodapeGuiaBloco">
        <span class="rodapeGuiaTitulo"> Explore </span>
        <section class="rodapeGuiaLinks">
            <a asp-controller="inicio" asp-action="inicio"> Home </a>
            <a asp-controller="inicio" asp-action="login"> Entre </a>
            <a asp-controller="inicio" asp-action="cadastro"> Cadastre-se </a>
        </section>
    </section>

    <section class="rodapeGuiaBloco">
        <span class="rodapeGuiaTitulo"> Instituicional </span>
        <section class="rodapeGuiaLinks">
            <a asp-controller="inicio" asp-action="sobre"> Sobre </a>
            <a href=""> Política de Privacidade</a>
        </section>

    </section>

    <section class="rodapeGuiaBloco">
        <span class="rodapeGuiaTitulo"> Mais </span>
        <section class="rodapeGuiaLinks">
            <a href=""> Dicas </a>
            <a href=""> Contato </a>
            <a href=""> Perguntas Frequentes </a>
            <a href=""> </a>
        </section>
    </section>
</div>