<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ManagaMoney</title>
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/rodape.css" />
    <link rel="stylesheet" href="~/css/inicio.css" />
    <link rel="stylesheet" href="~/css/cadastroUsuario.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/lancamento.css" />
    <link rel="stylesheet" href="~/css/cadastroCategoria.css" />
    <link rel="stylesheet" href="~/css/detalhes.css" />
    <link rel="stylesheet" href="~/css/listaCategorias.css" />
    <link rel="stylesheet" href="~/css/sobre.css" />
    <link rel="stylesheet" href="~/css/semConteudo.css" />
</head>
<body>
    <partial name="_HeaderPartial" />

    @RenderBody()
    <div id="rodapeBox">
        @if (!Context.User.Identity.IsAuthenticated) 
        {
            <partial name="_FooterPartial" />
        }

        <!-- Infos -->
        <footer id="rodapeBox">

            <!-- guia -->
            <!-- Infos -->
            <div id="rodapeInfos">

                <section id="rodapeInfosDireitos">
                    <section>
                        <img src="~/img/Geral/logo3.svg" id="rodapeInfosLogo" alt="">
                    </section>
                    <span>
                        Copyright © 2023 Manage Money. Todos os direitos reservados..
                    </span>
                </section>

                <section id="rodapeInfosRedes">
                    <span> Siga-nos</span>
                    <a href="https://br.linkedin.com/" class="rodapeInfosLinks">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 16 16" fill="">
                            <path d="M16 9.8088V16H12.5699V10.2237C12.5699 8.77337 12.0747 7.7829 10.8328 7.7829C9.88502 7.7829 9.32199 8.44972 9.07335 9.0954C8.98305 9.32615 8.95978 9.64658 8.95978 9.97022V15.9997H5.52945C5.52945 15.9997 5.57549 6.21663 5.52945 5.20395H8.96003V6.73381C8.95312 6.74586 8.9434 6.75764 8.93726 6.76915H8.96003V6.73381C9.41587 5.9998 10.2288 4.95044 12.0514 4.95044C14.3081 4.95044 16 6.49342 16 9.8088ZM1.94104 0C0.767666 0 0 0.806023 0 1.86502C0 2.90152 0.745411 3.73083 1.89602 3.73083H1.91827C3.11466 3.73083 3.85854 2.90152 3.85854 1.86502C3.83577 0.806023 3.11466 0 1.94104 0ZM0.203875 16H3.63292V5.20395H0.203875V16Z"></path>
                        </svg>
                    </a>
                    <a href="https://pt-br.facebook.com/" class="rodapeInfosLinks">
                        <svg width="21" height="21" viewBox="0 0 25 25" fill="" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.316 0C5.51147 0 0 5.41646 0 12.0944C0 18.1312 4.50244 23.1355 10.3912 24.0431V15.5916H7.26241V12.0944H10.3912V9.42989C10.3912 6.399 12.2312 4.72535 15.0421 4.72535C16.3902 4.72535 17.7978 4.96266 17.7978 4.96266V7.93943H16.2461C14.7156 7.93943 14.2408 8.87201 14.2408 9.82957V12.0986H17.6579L17.111 15.5957H14.2408V24.0473C20.1296 23.1397 24.632 18.1354 24.632 12.0986C24.632 5.41646 19.1163 0 12.316 0Z"></path>
                        </svg>
                    </a>
                    <a href="https://twitter.com/i/flow/login" class="rodapeInfosLinks">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 16 14" fill="#">
                            <path d="M14.3637 3.23688C14.3701 3.37822 14.3735 3.5207 14.3735 3.66318C14.3735 8.00144 11.0723 13.0021 5.03228 13.0021C3.17828 13.0021 1.4524 12.4603 0 11.5285C0.486813 11.5589 0.518223 11.5744 0.78308 11.5744C2.32166 11.5744 3.73672 11.0493 4.8605 10.1691C3.42418 10.1427 2.21135 9.19358 1.79367 7.88883C1.99361 7.92675 2.19986 7.948 2.41071 7.948C2.71004 7.948 3.00075 7.90894 3.27595 7.83367C1.77414 7.53262 0.642896 6.20604 0.642896 4.6146C0.642896 4.60081 0.642896 4.58645 0.64347 4.57323C1.08586 4.81856 1.59201 4.96678 2.12977 4.98345C1.2496 4.39571 0.669899 3.39028 0.669899 2.48157C0.669899 1.64947 0.83134 1.08528 1.11401 0.600381C2.73245 2.58709 5.15236 3.89357 7.88021 4.03145C7.82391 3.79073 7.79575 3.54081 7.79575 3.28285C7.79575 1.47021 9.2654 0 11.078 0C12.0248 0 12.8746 0.398722 13.4744 1.03645C14.223 0.889368 14.9239 0.617042 15.5599 0.239577C15.3129 1.00657 14.7941 1.64947 14.1144 2.05623C14.7791 1.97695 15.4134 1.80114 16 1.53973C15.5622 2.19699 15.0055 2.77554 14.3637 3.23688Z"></path>
                        </svg>
                    </a>
                    <a href="https://www.instagram.com/" class="rodapeInfosLinks">
                        <svg width="21" height="21" viewBox="0 0 24 24" fill="" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.9084 2.74234C15.0057 2.74234 15.3729 2.75403 16.5943 2.80858C17.7238 2.85923 18.3385 3.04236 18.7456 3.19822C19.2884 3.40473 19.6716 3.6502 20.0787 4.04374C20.4859 4.44117 20.7373 4.81522 20.9449 5.34513C21.1045 5.74257 21.2921 6.34261 21.344 7.44529C21.3999 8.63759 21.4119 8.99605 21.4119 12.0197C21.4119 15.0433 21.3999 15.4017 21.344 16.594C21.2921 17.6967 21.1045 18.2967 20.9449 18.6981C20.7333 19.228 20.4819 19.602 20.0787 19.9995C19.6716 20.3969 19.2884 20.6424 18.7456 20.845C18.3385 21.0008 17.7238 21.184 16.5943 21.2346C15.3729 21.2892 15.0057 21.3009 11.9084 21.3009C8.8111 21.3009 8.4439 21.2892 7.22254 21.2346C6.09298 21.184 5.47831 21.0008 5.07119 20.845C4.52836 20.6385 4.14519 20.393 3.73807 19.9995C3.33095 19.602 3.0795 19.228 2.87194 18.6981C2.71229 18.3006 2.52469 17.7006 2.47281 16.594C2.41693 15.4017 2.40495 15.0433 2.40495 12.0197C2.40495 8.99605 2.41693 8.63759 2.47281 7.44529C2.52469 6.34261 2.71229 5.74257 2.87194 5.34513C3.08349 4.81522 3.33494 4.44117 3.73807 4.04374C4.14519 3.64631 4.52836 3.40083 5.07119 3.19822C5.47831 3.04236 6.09298 2.85923 7.22254 2.80858C8.44789 2.75403 8.81509 2.74234 11.9084 2.74234ZM11.9084 0.704529C8.75921 0.704529 8.36407 0.716218 7.12674 0.770767C5.89341 0.825317 5.05123 1.01624 4.31283 1.29678C3.55048 1.58901 2.90388 1.97475 2.26126 2.60597C1.61466 3.23718 1.21952 3.8684 0.924156 4.61261C0.636777 5.33344 0.4412 6.15558 0.385321 7.35957C0.325451 8.56355 0.313477 8.9493 0.313477 12.0236C0.313477 15.0978 0.325451 15.4835 0.38133 16.6914C0.437209 17.8954 0.632786 18.7176 0.920165 19.4384C1.21553 20.1826 1.61466 20.8138 2.25727 21.445C2.90388 22.0762 3.55048 22.462 4.31283 22.7503C5.05123 23.0309 5.89341 23.2218 7.12674 23.2763C8.36407 23.3309 8.75921 23.3426 11.9084 23.3426C15.0576 23.3426 15.4527 23.3309 16.6901 23.2763C17.9234 23.2218 18.7656 23.0309 19.504 22.7503C20.2663 22.462 20.9129 22.0723 21.5595 21.445C22.2061 20.8138 22.6013 20.1826 22.8966 19.4384C23.184 18.7176 23.3796 17.8954 23.4355 16.6914C23.4914 15.4835 23.5033 15.0978 23.5033 12.0236C23.5033 8.9493 23.4914 8.56355 23.4355 7.35567C23.3796 6.15169 23.184 5.32955 22.8966 4.60872C22.6013 3.8645 22.2021 3.23329 21.5595 2.60207C20.9129 1.97086 20.2663 1.58511 19.504 1.29678C18.7656 1.01624 17.9234 0.825317 16.6901 0.770767C15.4527 0.716218 15.0576 0.704529 11.9084 0.704529Z"></path>
                            <path d="M11.9077 6.21014C8.61887 6.21014 5.95264 8.81294 5.95264 12.0236C5.95264 15.2342 8.61887 17.837 11.9077 17.837C15.1966 17.837 17.8629 15.2342 17.8629 12.0236C17.8629 8.81294 15.1966 6.21014 11.9077 6.21014ZM11.9077 15.7992C9.77237 15.7992 8.04411 14.1081 8.04411 12.0275C8.04411 9.94289 9.77636 8.25575 11.9077 8.25575C14.0431 8.25575 15.7714 9.94679 15.7714 12.0275C15.7754 14.1081 14.0431 15.7992 11.9077 15.7992Z"></path>
                        </svg>
                    </a>
                    <a href="https://www.youtube.com/" class="rodapeInfosLinks">
                        <svg width="21" height="21" viewBox="0 0 28 19" fill="" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26.5363 3.68343C26.2361 2.5775 25.3489 1.70253 24.2205 1.4094C22.1777 0.871979 13.9882 0.871979 13.9882 0.871979C13.9882 0.871979 5.79865 0.871979 3.75582 1.4094C2.62748 1.70698 1.74029 2.5775 1.44 3.68343C0.894035 5.69098 0.894043 9.87484 0.894043 9.87484C0.894043 9.87484 0.894035 14.0632 1.44 16.0663C1.74029 17.1722 2.62748 18.0472 3.75582 18.3403C5.79865 18.8777 13.9882 18.8777 13.9882 18.8777C13.9882 18.8777 22.1777 18.8777 24.2205 18.3403C25.3489 18.0427 26.2361 17.1722 26.5363 16.0663C27.0823 14.0587 27.0823 9.87484 27.0823 9.87484C27.0823 9.87484 27.0869 5.69098 26.5363 3.68343ZM11.3129 13.6767V6.07738L18.1557 9.87928L11.3129 13.6767Z"></path>
                        </svg>
                    </a>
                </section>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/cabecalho.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
