@{
    ViewData["Title"] = "Inicio";
}

<div id="conteudoInicio">

    <!-- textos -->
    <section id="textoSec">

        <section id="textoTitulo">
            <span>
                Procurando<span id="detalhe_titulo">economizar?</span>
            </span>
        </section>
        <br><br>

        <section id="textoSubtitulo">
            <span>
                Conheça o <span style= "color:#4bb550;">Manage Money</span>, uma solução simples e intuitiva <br> que lhe permitirá controlar o seu dinheiro de forma fácil!!!
            </span>
        </section>

        <section id="textoLista">

            <section class="textoListaBox">

                <section class="textoListaElement">
                    <img src="~/img/tela_Inicial/organizar.svg" alt="" class="textoListaIcon">
                    <span > Organize suas despesas e receitas </span>
                </section>

                <section class="textoListaElement">
                    <img src="~/img/tela_Inicial/lupa.svg" alt="" class="textoListaIcon">
                    <span class="textoListaElementos"> Identifique padrões de gastos </span>
                </section>

            </section>

            <section class="textoListaBox">
                <section class="textoListaElement">
                    <img src="~/img/tela_Inicial/no-money.svg" alt="" class="textoListaIcon">
                    <span class="textoListaElementos"> Evite juros e multas por atraso </span>
                </section>

                <section class="textoListaElement">
                    <img src="~/img/tela_Inicial/earn-money.svg" alt="" class="textoListaIcon">
                    <span class="textoListaElementos"> Reduza seus gastos e poupe dinheiro </span>                    
                </section>
            </section>
            
        </section>
        
        <div id="textoDivButton">
            <a id="textoSignButton" asp-controller="inicio" asp-action="cadastro"> Cadastre-se Agora! </a>
        </div>

        <section id="textoAviso">
            <span>
                Inscreva-se agora gratuitamente, e aproveite todos os recursos do Manage Money!
            </span>
        </section>

    </section>

    <!-- imagem -->
    <section id="imagem_inicioSec">
        <img src="~/img/tela_Inicial/familia_telaInicial.jpg" alt="" id="imagem_inicio">
    </section>

</div>

<!-- conteudo-02 -->
<div id="divisoria"></div>

<div id="conteudoSlider">

</div>