<!-- Conteúdo -->
<div id="sobre_Conteudo">
    <div id="sobre_Conteudo_Texto">
        <div id="sobre_Conteudo_Texto_Titulo">
            <span> Sobre o <br> <span style="color: #4bb550">Manage Money</span>
        </div>
        <div id="sobre_Conteudo_Texto_Paragrafo">
            <span>
                O Manage money surgiu em 2023 como a proposta de um projeto
                para a aula de sistemas para internet do professor André Naka,
                com a missão de obter novos conhecimentos, experiências e uma
                boa avaliação durante a apresentação. <br><br>

                Ainda se encontrando em fase de desenvolvimento, o Manage Money
                se propõe como uma solução inteligente para auxiliá-lo em seu
                gerenciamento financeiro. Apresentando de forma simples e intuítiva,
                recursos práticos que irão facilitar a sua vida durante a realização dessa tarefa.
                Guiando-nos sempre por nossa missão, buscamos contribuir para promover o conforto e
                descomplicar o gerenciamento financeiro.
            </span>
        </div>
        <span></span>
    </div>
    <div id="sobre_Conteudo_Img_Div">
        <img src="~/img/tela_Sobre/sobre_Img.svg" id="sobre_Conteudo_Img" alt="">
    </div>
</div>

<div id="sobre_Conteudo_Equipe">
</div>